*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
    padding: 0 15px; 
}
.bt-dark{
    background-color:rgb(39, 38, 38) ;
    padding: 15px 25px;
    color: snow;
}
.bt-dark:hover{
    background-color: rgb(241, 91, 22);
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: rgb(39, 38, 38);
}
.logo{
    padding: 12px 20px;
}
.brand{
    font-family: 'PT Serif', serif;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.navigation{
    padding: 27px 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.navigation li a{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.navigation li a:hover{
    color: rgb(241, 91, 22);
}
.showcase{
    height: 570px;
    background: url(../images/banner-bg.png) no-repeat center center /cover;
    line-height: 70px;
    position: relative;
}
.h-text{
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.m-text{
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600px;
    color: rgb(241, 241, 241);
}
.text{
    font-size: 20px;
    color: snow;
}
.aside{
    position: absolute;
    margin: 90px 80px;
    width: 50%;
}
.About{
    display:flex ;
    margin: 50px  40px 0 120px;
}
.text-2{
    width:50% ;
}
.heading-text{
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color:  rgb(241, 91, 22);
    padding-top: 100px;
}
.message{
    color: rgb(143, 141, 141);
}
.header{
    text-align: center;
    padding: 60px 0;
}
.o-gallery{
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:  rgb(241, 91, 22);
    text-align: center;
    padding-top: 30px;
}
.message-2{
    color: rgb(109, 105, 105);
    width: 80%;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}
.button{
    padding: 15px 25px;
    color: snow;
}
.text-3{
    color: rgb(252, 252, 252);
    font-size:20px ;  
    text-align: center;
    padding: 40px 0;
}
.services{
    position: relative;
    z-index: 2;
}
.service{
    position: sticky;
    z-index: 5;
    height: 600px;
    background: url(../images/services-bg.png) no-repeat center center /cover;
}
.service h1{
    color: rgb(243, 243, 243);
}
.contact-us {
    height: 400px;
}
.wrapper{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.card{
    background-color: rgb(241, 91, 22);
    border: 1px solid;
    padding: 10px;
    width: 25%;
    height: 180px;
}
.bt-dark2{
    background-color:rgb(39, 38, 38) ;
    padding: 15px 25px;
    color: snow;
    visibility: hidden;
}
.card:hover .bt-dark2{
    visibility: visible;
    color: whitesmokes;
}
.card:hover .t-coffe{
    color: black;
}
.card:hover{
    height: 220px;
    background-color: rgb(250, 250, 250);
    color: black;

}
.container-3{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    height: 400px;
}
.h-testimonial{
    color:  rgb(241, 91, 22);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.t-testimonial{
    padding-top: 20px;
    color: rgb(39, 38, 38);
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.text-area{
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
}
.monila{
    padding-left: 90px;
    color:  rgb(241, 91, 22);
}
.t-monila{
    border-left: 3px solid black;
    border-width: 70%;
    border-right: 3px solid black;
    padding:0 20px;
}
.contactus{
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:  rgb(241, 91, 22);
    text-align: center;
    padding-top: 30px;
}
input[type=text] {
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 10px;
  }
  .inputs{
      background: url(../images/img-9.png) center center/ cover;
      
  }
  .contact-wrapper{
      display: flex;
      justify-content: space-between;
      height: 503px;
      padding-top: 40px; 
  }
  .send{
      padding: 15px 50px;
      margin-top: 20px;
      border-radius: 30px; 
      background-color:rgb(241, 91, 22) ;
      border:none;
      color: rgb(255, 255, 255);
  }
  .map{
      overflow: hidden;
  }
  .Contacts{
      display: flex;
      justify-content: space-between;
      height: 350px;
      text-align: center;
      line-height: 30px;
      font-family: 'Roboto', sans-serif;
      color: whitesmoke;
      background-color: rgb(29, 28, 28);
      margin-top: 10px;
  }
  .About-us{
      width: 30%;
  }
  .Contacts li {
      display: block;
  }
  .Contacts h1 {
    padding-top: 100px;
   
  }
 a{
     text-decoration: none;
 }
 .Contacts li a{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
}
.Contacts li a:hover{
    color: rgb(241, 91, 22);
}
footer{
    text-align: center;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
}
